{
  "development" : {
    "mysql": {
      "database": "rcg_casino_dev",
      "user": "root",
      "password": "",
      "port": 3306,
      "host": "localhost",
      "logging": true
    },
    "session": {
      "cookie_secret": "secretkey",
      "session_key": "rcgcasino",
      "cookie": {
        "maxAge": 2592000000,
        "path": "/",
        "httpOnly": true,
        "secure": false
      }
    },
    "rcg_api": {
      "partner_uid": "",
      "secret": "",
      "endpoint": "https://reelcraftgames.com/integration"
    }
  },
  "test" : {
    "mysql": {
      "database": "rcg_casino_test",
      "user": "root",
      "password": "",
      "port": 3306,
      "host": "localhost",
      "logging": true
    },
    "session": {
      "cookie_secret": "secretkey",
      "session_key": "rcgcasino",
      "cookie": {
        "maxAge": 2592000000,
        "path": "/",
        "httpOnly": true,
        "secure": false
      }
    },
    "rcg_api": {
      "partner_uid": "",
      "secret": "",
      "endpoint": "https://reelcraftgames.com/integration"
    }
  },
  "production" : {
    "mysql": {
      "database": "rcg_casino",
      "user": "root",
      "password": "",
      "port": 3306,
      "host": "localhost",
      "logging": false
    },
    "session": {
      "cookie_secret": "secretkey",
      "session_key": "rcgcasino",
      "cookie": {
        "maxAge": 2592000000,
        "path": "/",
        "httpOnly": true,
        "secure": false
      }
    },
    "rcg_api": {
      "partner_uid": "",
      "secret": "",
      "endpoint": "https://reelcraftgames.com/integration"
    }
  }
}